@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #16222a, #3a6073);

    --background: 217 96.55% 98.26%;
    --foreground: 217 3.1% 0.52%;

    --muted: 217 3.1% 91.3%;
    --muted-foreground: 217 1.55% 41.3%;

    --popover: 217 65.2% 91.3%;
    --popover-foreground: 217 3.1% 0.65%;

    --card: 217 65.2% 91.3%;
    --card-foreground: 217 3.1% 0.65%;

    --border: 217 8.1% 89.52%;
    --input: 217 8.1% 89.52%;

    --primary: 217 31% 13%;
    --primary-foreground: 217 0.62% 91.3%;

    --secondary: 217 1.55% 95.65%;
    --secondary-foreground: 217 2.86% 11.3%;

    --accent: 217 1.55% 95.65%;
    --accent-foreground: 217 2.86% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 217 31% 13%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #2980b9, #2c3e50);

    --background: 216 41.6% 3.52%;
    --foreground: 216 6.4% 97.2%;

    --muted: 216 32% 13.2%;
    --muted-foreground: 216 6.4% 54.4%;

    --popover: 216 52.2% 5.72%;
    --popover-foreground: 216 6.4% 97.2%;

    --card: 216 52.2% 5.72%;
    --card-foreground: 216 6.4% 97.2%;

    --border: 216 32% 13.2%;
    --input: 216 32% 13.2%;

    --primary: 216 64% 44%;
    --primary-foreground: 216 6.4% 97.2%;

    --secondary: 216 32% 13.2%;
    --secondary-foreground: 216 6.4% 97.2%;

    --accent: 216 32% 13.2%;
    --accent-foreground: 216 6.4% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 216 6.4% 97.2%;

    --ring: 216 64% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
